.popup__error-message {
    width: 148px;
    height: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin-top: 5px;
}

.popup__error-message:first-of-type {
    position: relative;
    bottom: 24px;
}